{% extends 'layout.html' %}

{% block body %}

<body class="body-login">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">

                <h1 class="titulo">
                    Login
                </h1>

                <div class="padding-div">
                    <input type="email" class="input-custom" placeholder="Email">
                </div>
            
                <div class="padding-div">
                    <input type="text" class="input-custom" placeholder="Senha">
                </div>
            
                <div class="esqueceu direita">
                    <a class="formatar-p" href="/cadastro">Esqueceu a senha?</a>
                </div>
            
                <div class="padding-div">
                    <a href="/" class="botao-cadastro-login d-block">Fazer Login</a>
                </div>
            
                <div>
                    <span class="formatar-texto">Não possui cadastro? <a class="formatar-p" href="/cadastro">Cadastre-se</a></span>
                </div>
                
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
</body>

{% endblock %}