{% extends 'layout.html' %}

{% block body %}

<div class="secao1-sobre">
  <div class = "container-fluid">
    <div class="row d-flex align-items-center justify-content-center">

      <div class="col-sm-6 coluna-texto-nos">
        <h1 class="titulo-secao">Sobre Nós</h1>
        <p class="texto-secao">
          Somos um grupo de alunos da ESPM - São Paulo, atualmente no terceiro semestre do curso de Sistemas de Informação.
        </p>
      </div>

      <div class="col-sm-6 imagem-decorada-container">
        <img style="max-width: 100%;" src="{{ url_for('static', filename='img/nossafoto.jpg') }}" alt="nós" class="imagem-decorada">
      </div>

    </div>
  </div>
</div>

<div class="secao2-nosso-comeco">
  <div class="container secao2-grid">

    <div class="coluna-imagens">
      <div class="coluna-imagens-superior">
        <img src="{{ url_for('static', filename='img/bacon.png') }}" alt="Imagem 1">
        <img src="{{ url_for('static', filename='img/bacon.png') }}" alt="Imagem 2">
      </div>

      <div class="coluna-imagens-inferior">
        <img src="{{ url_for('static', filename='img/bacon.png') }}" alt="Imagem grande">
      </div>
    </div>

    <div class="coluna-texto-sobre">
      <h1 class="titulo-secao">Nosso começo</h1>
      <p class="texto-secao">
        Tudo começou com uma ideia meio maluca, algumas brincadeiras em grupo e aquela vontade de fazer algo diferente. Aos poucos, o que era só papo se transformou em projeto. Juntamos nossas forças, dividimos o trabalho e criamos o Toilet View — do nosso jeito, com propósito, aprendizado e muita zoeira no caminho. Mas acima de tudo, fizemos algo útil, nosso.
      </p>
    </div>

  </div>
</div>

<div class="secao3-nossa-equipe">
  <h1>Nossa Equipe</h1>
  <div class="grid-equipe">

    <div class="card-membro">
      <img src="{{ url_for('static', filename='img/pablack.png') }}" alt="Pablo Dimitrof">
      <h3>Pablo Dimitrof</h3>
      <div class="icones-sociais">
        <a href="https://www.linkedin.com/in/pablo-dimitrof-b5b3b62b3/" target="_blank"> <img src="{{ url_for('static', filename='img/linkedin.png') }}" alt="Linkedin"></a>
        <a href="https://github.com/PabloDimitrof" target="_blank" class="github"><img src="{{ url_for('static', filename='img/github.png') }}" alt="Github"></a>
      </div>
    </div>

    <div class="card-membro">
      <img src="{{ url_for('static', filename='img/ratao.png') }}" alt="José Longo">
      <h3>José Longo</h3>
      <div class="icones-sociais">
        <a href="https://www.linkedin.com/in/jos%C3%A9-longo/" target="_blank"> <img src="{{ url_for('static', filename='img/linkedin.png') }}" alt="Linkedin"></a>
        <a href="https://github.com/Jose-Longo-A" target="_blank" class="github"><img src="{{ url_for('static', filename='img/github.png') }}" alt="Github"></a>
      </div>
    </div>

    <div class="card-membro">
      <img src="{{ url_for('static', filename='img/gordin.png') }}" alt="Martim Ponzio">
      <h3>Martim Ponzio</h3>
      <div class="icones-sociais">
        <a href="https://www.linkedin.com/in/martim-rozanczyk-ponzio-0083b82b3/" target="_blank"> <img src="{{ url_for('static', filename='img/linkedin.png') }}" alt="Linkedin"></a>
        <a href="https://github.com/martimponzio" target="_blank" class="github"><img src="{{ url_for('static', filename='img/github.png') }}" alt="Github"></a>
      </div>
    </div>

    <div class="card-membro">
      <img src="{{ url_for('static', filename='img/pe.png') }}" alt="Pedro Maricate">
      <h3>Pedro Maricate</h3>
      <div class="icones-sociais">
        <a href="https://www.linkedin.com/in/pedro-almeida-maricate-santos-7467572b2/" target="_blank"> <img src="{{ url_for('static', filename='img/linkedin.png') }}" alt="Linkedin"></a>
        <a href="https://github.com/PedroMaricate" target="_blank" class="github"><img src="{{ url_for('static', filename='img/github.png') }}" alt="Github"></a>
      </div>
    </div>

    <div class="card-membro">
      <img src="{{ url_for('static', filename='img/tatin.png') }}" alt="Enzo Malagoli">
      <h3>Enzo Malagoli</h3>
      <div class="icones-sociais">
        <a href="https://www.linkedin.com/in/enzo-de-marchi-malagoli-ab73b52b3/" target="_blank"> <img src="{{ url_for('static', filename='img/linkedin.png') }}" alt="Linkedin"></a>
        <a href="https://github.com/EnzoMalagoli" target="_blank" class="github"><img src="{{ url_for('static', filename='img/github.png') }}" alt="Github"></a>
      </div>
    </div>

    <div class="card-membro">
      <img src="{{ url_for('static', filename='img/lanches.png') }}" alt="Eduardo Gul">
      <h3>Eduardo Gul</h3>
      <div class="icones-sociais">
        <a href="https://www.linkedin.com/in/eduardo-gul-d%E2%80%99%C3%A1vila-2575b5270/" target="_blank"> <img src="{{ url_for('static', filename='img/linkedin.png') }}" alt="Linkedin"></a>
        <a href="https://github.com/eduardogd09" target="_blank" class="github"><img src="{{ url_for('static', filename='img/github.png') }}" alt="Github"></a>
      </div>
    </div>

  </div>
</div>

{% endblock %}
